body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  color: #222;
}

header {
  background: white;
  text-align: center;
  padding: 20px 20px;
}

header h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 42px;
  margin: 0;
  line-height: 1.2;
}

section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  margin: 20px 0;
}

.divider {
  border: none;
  border-top: 1px solid #d9d9d9;
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

/* SECTION 1 */

.text-chart-row {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin-top: 10px;
}

.text-chart-row .text-left {
  flex: 1;
  margin: 0;
}

.para-chart {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin-top: 10px;
}

.para-chart .text-left {
  flex: 1;
  margin: 0;
  line-height: 1.7;
}

#chart2_sec1 {
  flex: 0 0 450px;
}

/* SECTION 2 */

.full {
  max-width: 1100px;
  margin: 20px auto;
  line-height: 1.7;
}

/* SECTION 2 */

.chart-row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

#chart2_sec2,
#chart3_sec2 {
  flex: 1;
  min-width: 0;
}

/* optional: make charts visually balanced */
.vega-embed {
  width: 100%;
}

/* SECTION 3 */

#chart1_sec3 {
  margin: 30px 0;
}

.chart-text-row {
  display: flex;
  gap: 100px;
  align-items: flex-start;
  margin-top: 20px;
}

#chart2_sec3 {
  flex: 0 0 90px;
}

.chart-text-row .text-right {
  flex: 1;
  margin: 0;
  line-height: 1.7;
}

/* VEGA CSS */

.vega-embed {
  width: 100%;
  margin: 0 auto;
}

.vega-embed canvas,
.vega-embed svg {
  margin: 0 auto;
}